/* =============== Global Section Start =============== */

:root {
    /* ======== Theme 1 Background ======== */

    --very-dark-desaturated-blue-1: hsl(222, 26%, 31%); /* main background */
    --very-dark-desaturated-blue-2: hsl(223, 31%, 20%); /* toggle & keypad background */
    --very-dark-desaturated-blue-3: hsl(224, 36%, 15%); /* screen background */

    /* ===== Keys ===== */

    --desaturated-dark-blue-1: hsl(225, 21%, 49%); /* key background */
    --desaturated-dark-blue-2: hsl(224, 28%, 35%); /* key shadow */

    --red: hsl(6, 63%, 50%); /* key background, toggle */
    --dark-red: hsl(6, 70%, 34%); /* key shadow */

    --light-grayish-orange: hsl(30, 25%, 89%); /* key background */
    --grayish-orange: hsl(28, 16%, 65%); /* key shadow */

    /* ===== Text ===== */

    --very-dark-grayish-blue: hsl(221, 14%, 31%);

    /* ======== Theme 2 Background ======== */

    --light-gray: hsl(0, 0%, 90%); /* main background */
    --grayish-red: hsl(0, 5%, 81%); /* toggle & keypad background */
    --very-light-gray: hsl(0, 0%, 93%); /* screen background */

    /* ===== Keys ===== */

    --dark-moderate-cyan: hsl(185, 42%, 37%); /* key background */
    --very-dark-cyan: hsl(185, 58%, 25%); /* key shadow */

    --orange: hsl(25, 98%, 40%); /* key background */
    --dark-orange: hsl(25, 99%, 27%); /* key shadow */

    --light-grayish-yellow: hsl(45, 7%, 89%); /* key background */
    --dark-grayish-orange: hsl(35, 11%, 61%); /* key shadow */

    /* ===== Text ===== */

    --very-dark-grayish-yellow: hsl(60, 10%, 19%);

    /* ======== Theme 3 Background ======== */

    --very-dark-violet-1: hsl(268, 75%, 9%); /* main background */
    --very-dark-violet-2: hsl(268, 71%, 12%); /* toggle, keypad & screen background */

    /* ===== Keys ===== */

    --dark-violet: hsl(281, 89%, 26%); /* key background */
    --vivid-magenta: hsl(285, 91%, 52%); /* key shadow */

    --pure-cyan: hsl(176, 100%, 44%); /* key background */
    --soft-cyan: hsl(177, 92%, 70%); /* key shadow */

    --very-dark-violet-3: hsl(268, 47%, 21%); /* key background */
    --dark-magenta: hsl(290, 70%, 36%); /* key shadow */

    /* ===== Text ===== */

    --light-yellow: hsl(52, 100%, 62%);
    --very-dark-blue-4: hsl(198, 20%, 13%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 5px 5px 10px;
}

/* =============== Global Section End =============== */

/* =============== Container Section Start =============== */

.container {
    background-color: var(--very-dark-desaturated-blue-1);
    width: 100%;
    height: calc(100% - 20px);
    border-radius: 10px;
    padding: 20px;
}

/* =============== Container Section End =============== */

/* =============== Title Section Start =============== */

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title h1 {
    color: white;
}

.title > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "empty_class toggle_class"
        "theme_class toggle_class";
}

.title > div h4 {
    color: white;
    grid-area: theme_class;
    margin-top: 5px;
}

.title > div span {
    content: "";
    grid-area: empty_class;
}

.title > div .span_1 {
    float: left;
    margin-left: 7px;
}
.title > div .span_2 {
    margin-left: 23%;
}

.title > div .span_3 {
    float: right;
    margin-right: 7px;
}

/* ======= Toggle Section Start ======= */

.container .title > div .toggle input{
    display: none;
}

.container .title > div .toggle {
    grid-area: toggle_class;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
}

.container .title > div .toggle .theme_number{
    color: white;
}

.slider {
    position: absolute;
    top: 22px; 
    bottom: 0;
    left: 0; 
    right: 0;
    cursor: pointer;
    background-color: var(--very-dark-desaturated-blue-2);
    border-radius: 30px;
    transition: .4s;
}

.slider::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    background-color: var(--red);
    transition: .4s;
}

.move_1::before {
    transform: translateX(26px);
}

.move_2::before {
    transform: translateX(55px);
}

/* ======= Toggle Section End ======= */

/* =============== Title Section End =============== */

/* =============== Result Section Start =============== */

.container .result {
    margin-top: 30px;
}

.container .result .app_output {
    font-size: 32px;
    color: white;
    background-color: var(--very-dark-desaturated-blue-3);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 34px 20px 34px 1px;
    text-align: right;
}

/* =============== Result Section End =============== */

/* =============== Key Section Start =============== */

.container .keys {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    padding: 15px;
    height: auto;
    background-color: var(--very-dark-desaturated-blue-2);
    border: none;
    border-radius: 10px;
    grid-template-areas: 
        "seven eight nine del"
        "four five six plus"
        "one two three minus"
        "dot zero divide multiply"
        "reset reset equal equal";
}

.container .keys button {
    display: inline-block;
    height: 70px;
    margin: 9px 5px;
    border: none;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    cursor: pointer;
    font-size: 32px;
    background-color: var(--light-grayish-orange);
    box-shadow: 0px 4px 0px var(--grayish-orange);
}

.container .keys .delete {
    color: white;
    font-size: 24px;
    background-color: var(--desaturated-dark-blue-1);
    box-shadow: 0px 4px 0px var(--desaturated-dark-blue-2);
}

.container .keys .reset {
    grid-area: reset;
    width: auto;
    color: white;
    font-size: 24px;
    background-color: var(--desaturated-dark-blue-1);
    box-shadow: 0px 4px 0px var(--desaturated-dark-blue-2);
}

.container .keys .equal {
    grid-area: equal;
    width: auto;
    color: white;
    font-size: 24px;
    background-color: var(--red);
    box-shadow: 0px 4px 0px var(--dark-red);
}

/* =============== Key Section End =============== */

/* =============== Theme 2 Color Change Start =============== */

.container_v2 {
    background-color: var(--light-gray);
}

.title .h1_v2{
    color: var(--very-dark-grayish-yellow);
}

.title > div .h4_v2 {
    color: var(--very-dark-grayish-yellow);
}

.container .title > div .toggle .theme_number_v2{
    color: var(--very-dark-grayish-yellow);
}

.slider_v2 {
    background-color: var(--grayish-red);
}

.container .result .app_output_v2 {
    color: var(--very-dark-grayish-yellow);
    background-color: var(--very-light-gray);
}

.container .keys_v2 {
    background-color: var(--grayish-red);
}

.container .keys .button_color_v2 {
    color: var(--very-dark-grayish-yellow);
    background-color: var(--light-grayish-yellow);
    box-shadow: 0px 4px 0px var(--dark-grayish-orange);
}

.container .keys .delete_color_v2 {
    background-color: var(--dark-moderate-cyan);
    box-shadow: 0px 4px 0px var(--very-dark-cyan);
}

 .reset_color_v2 {
    background-color: var(--dark-moderate-cyan);
    box-shadow: 0px 4px 0px var(--very-dark-cyan);
}

.container .keys .equal_color_v2 {
    background-color: var(--orange);
    box-shadow: 0px 4px 0px var(--dark-orange);
}

/* =============== Theme 2 Color Change End =============== */

/* =============== Theme 3 Color Change Start =============== */

.container_v3 {
    background-color: var(--very-dark-violet-1);
}

.title .h1_v3{
    color: var(--light-yellow);
}

.title > div .h4_v3 {
    color: var(--light-yellow);
}

.container .title > div .toggle .theme_number_v3{
    color: var(--light-yellow);
}

.slider_v3 {
    background-color: var(--very-dark-violet-2);
}

.container .result .app_output_v3 {
    background-color: var(--very-dark-violet-2);
}

.container .keys_v3 {
    background-color: var(--very-dark-violet-2);
}

.container .keys button .button_color_v2 {
    color: var(--very-dark-grayish-yellow);
    background-color: var(--dark-moderate-cyan);
    box-shadow: 0px 4px 0px var(--very-dark-cyan);
}

.container .keys .delete_color_v2 {
    background-color: var(--light-grayish-yellow);
    box-shadow: 0px 4px 0px var(--light-grayish-orange);
}

.container .keys .reset_color_v2 {
    background-color: var(--light-grayish-yellow);
    box-shadow: 0px 4px 0px var(--light-grayish-orange);
}

.container .keys .equal_color_v2 {
    background-color: var(--orange);
    box-shadow: 0px 4px 0px var(--dark-orange);
}

/* =============== Theme 3 Color Change End =============== */